.maze{
    margin-left: 15%;
}

.no_maze{
    margin-left: 15%;
    display: none;
}

.input{
    border: solid black;
    border-radius: 10px;
    width: 30%;
    justify-content: center;
}

.menu{
    margin-left: 20%;
    margin-top: 3em;
}

#link {
    position: absolute;
    top: 152px;
    left: 112px;
    z-index: 100;
}
#link.up {
    background: url("../images/link_up.gif") no-repeat;
    margin-left: 2px;
}
#link.down {
    background: url("../images/link_down.gif") no-repeat;
}
#link.left {
    background: url("../images/link_left.gif") no-repeat;
}
#link.right {
    background: url("../images/link_right.gif") no-repeat;
}